.not-active {
    pointer-events: none;
    cursor: default;
}
.btn.btn-light-primary {
  color: #3699FF;
  background-color: #E1F0FF;
  border-color: transparent;
}
a:focus, a:hover {
    color: #9E9E9E !important;
}
.navi {
  padding: 0;
  margin: 0;
  display: block;
  list-style: none;
}

.navi .navi-item {
  padding: 0;
  display: block;
  list-style: none;
  font-family: Poppins, Helvetica, "sans-serif";
}
.navi .navi-item .navi-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.5rem 1rem;
}

.navi-link:hover{
  background-color: #F3F6F9;
  color: #3699FF !important;
}
.navi-link.navi-text:hover{
  color: #3699FF;
}

.default-font{

  font-size: 13px;
}
